<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.dao.DeptDao">
	<!--添加应聘人信息 -->
	<insert id="insertDept">
		insert into tb_department
		(id,dt_name,dt_createTime,dt_bz)
		values
		(#{id},#{dtName},#{dtCreateTime},#{dtBz})
	</insert>



</mapper>